@import "../../../../assets/scss/object/utility/_color";

a {
    color:rgba(255,255,255,.55);
    text-decoration: none!important;
}

.button-primary {
    padding: 20px;
    border-radius : 20px;
    background-color: $black;
    color: $white;
}

.button-secondary {
    padding: 20px;
    border-radius : 20px;
    background-color: $white;
    color: $text-main;
    border: $black 1px solid;
    :hover {
        opacity: 0.4;
    }
}