@import "../../../assets/scss/object/utility/_color";

footer {
    display: block;
    position: relative;
    z-index: 1;
    background-color: #000000;
    color: $text-sub;
    font-size: 12px;
    bottom: 0;
    div {
      a{
        i {
          color: $text-sub;
          font-size: 1.5em;
        }
      }
    }
}

.footer__text {
  color: $text-sub;
  font-size: 12px;
  font-family: sans-serif;
  span {
    margin: 0;
  }
}

.footer__link {
  color: $link-sub;
}

.footer__border {
  border: 1px solid $border;
}