@import "../../../assets/scss/object/utility/_color";
@import "../../../assets/scss/foundation/_mixin";

main {
    background-color: none;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

#clouds {
    display: grid;
    place-items: center;
    height: 100vh!important;
    margin: 0;
}

.flex-justify-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:991px) {
    .flex-justify-switch {
        flex-direction: column-reverse;
    }
}