@import "../../../../assets/scss/object/utility/_color";

.bg__gray-dark-pale {
    background-color: $gray__dark-pale!important;
}

.bg__gray-dark-deep {
  background-color: $gray__dark-pale!important;
}

.bg__gray-light-pale {
  background: $gray__light-pale!important;
}

.bg__gray-light-deep {
  background: $gray__light-deep!important;
}