@import "../../../../assets/scss/object/utility/_color";

.bg__gray-dark-pale {
    background-color: $gray__dark-pale!important;
}

.bg__gray-dark-deep {
  background-color: $gray__dark-pale!important;
}

.bg__gray-light-pale {
  background: $gray__light-pale!important;
}

.bg__gray-light-deep {
  background: $gray__light-deep!important;
}

.bg__header {
  background:$bg-header;
}

.bg__black {
  background: #000;
}

.bg__glass {
    background-image: url(../assets/img/bg-art-2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.bg__glass::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
  z-index: -1;
}

.bg__glass {
    background-image: url(../assets/img/bg-art-2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.bg__glass::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    z-index: -1;
}

.bg__svg {
  background-image: url(../assets/img/bg-art-3.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 1;
}

.bg__svg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
  z-index: -1;
}

.bg__pic {
  background-image: url(../assets/img/bg-5.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 1;
}

.bg__pic::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
  z-index: -1;
}

.bg-white-10 {
  background: rgba(255,255,255,.1);
}

.bg-white-15 {
  background: rgba(255,255,255,.15);
}