.w-1px	{width:1px!important;}
.w-2px	{width:2px!important;}
.w-3px	{width:3px!important;}
.w-4px	{width:4px!important;}
.w-5px	{width:5px!important;}
.w-6px	{width:6px!important;}
.w-7px	{width:7px!important;}
.w-8px	{width:8px!important;}
.w-9px	{width:9px!important;}
.w-10px	{width:10px!important;}
.w-11px	{width:11px!important;}
.w-12px	{width:12px!important;}
.w-13px	{width:13px!important;}
.w-14px	{width:14px!important;}
.w-15px	{width:15px!important;}
.w-16px	{width:16px!important;}
.w-17px	{width:17px!important;}
.w-18px	{width:18px!important;}
.w-19px	{width:19px!important;}
.w-20px	{width:20px!important;}
.w-21px	{width:21px!important;}
.w-22px	{width:22px!important;}
.w-23px	{width:23px!important;}
.w-24px	{width:24px!important;}
.w-25px	{width:25px!important;}
.w-26px	{width:26px!important;}
.w-27px	{width:27px!important;}
.w-28px	{width:28px!important;}
.w-29px	{width:29px!important;}
.w-30px	{width:30px!important;}
.w-31px	{width:31px!important;}
.w-32px	{width:32px!important;}
.w-33px	{width:33px!important;}
.w-34px	{width:34px!important;}
.w-35px	{width:35px!important;}
.w-36px	{width:36px!important;}
.w-37px	{width:37px!important;}
.w-38px	{width:38px!important;}
.w-39px	{width:39px!important;}
.w-40px	{width:40px!important;}
.w-41px	{width:41px!important;}
.w-42px	{width:42px!important;}
.w-43px	{width:43px!important;}
.w-44px	{width:44px!important;}
.w-45px	{width:45px!important;}
.w-46px	{width:46px!important;}
.w-47px	{width:47px!important;}
.w-48px	{width:48px!important;}
.w-49px	{width:49px!important;}
.w-50px	{width:50px!important;}
.w-51px	{width:51px!important;}
.w-52px	{width:52px!important;}
.w-53px	{width:53px!important;}
.w-54px	{width:54px!important;}
.w-55px	{width:55px!important;}
.w-56px	{width:56px!important;}
.w-57px	{width:57px!important;}
.w-58px	{width:58px!important;}
.w-59px	{width:59px!important;}
.w-60px	{width:60px!important;}
.w-61px	{width:61px!important;}
.w-62px	{width:62px!important;}
.w-63px	{width:63px!important;}
.w-64px	{width:64px!important;}
.w-65px	{width:65px!important;}
.w-66px	{width:66px!important;}
.w-67px	{width:67px!important;}
.w-68px	{width:68px!important;}
.w-69px	{width:69px!important;}
.w-70px	{width:70px!important;}
.w-71px	{width:71px!important;}
.w-72px	{width:72px!important;}
.w-73px	{width:73px!important;}
.w-74px	{width:74px!important;}
.w-75px	{width:75px!important;}
.w-76px	{width:76px!important;}
.w-77px	{width:77px!important;}
.w-78px	{width:78px!important;}
.w-79px	{width:79px!important;}
.w-80px	{width:80px!important;}
.w-81px	{width:81px!important;}
.w-82px	{width:82px!important;}
.w-83px	{width:83px!important;}
.w-84px	{width:84px!important;}
.w-85px	{width:85px!important;}
.w-86px	{width:86px!important;}
.w-87px	{width:87px!important;}
.w-88px	{width:88px!important;}
.w-89px	{width:89px!important;}
.w-90px	{width:90px!important;}
.w-91px	{width:91px!important;}
.w-92px	{width:92px!important;}
.w-93px	{width:93px!important;}
.w-94px	{width:94px!important;}
.w-95px	{width:95px!important;}
.w-96px	{width:96px!important;}
.w-97px	{width:97px!important;}
.w-98px	{width:98px!important;}
.w-99px	{width:99px!important;}
.w-100px	{width:100px!important;}
.w-101px	{width:101px!important;}
.w-102px	{width:102px!important;}
.w-103px	{width:103px!important;}
.w-104px	{width:104px!important;}
.w-105px	{width:105px!important;}
.w-106px	{width:106px!important;}
.w-107px	{width:107px!important;}
.w-108px	{width:108px!important;}
.w-109px	{width:109px!important;}
.w-110px	{width:110px!important;}
.w-111px	{width:111px!important;}
.w-112px	{width:112px!important;}
.w-113px	{width:113px!important;}
.w-114px	{width:114px!important;}
.w-115px	{width:115px!important;}
.w-116px	{width:116px!important;}
.w-117px	{width:117px!important;}
.w-118px	{width:118px!important;}
.w-119px	{width:119px!important;}
.w-120px	{width:120px!important;}
.w-121px	{width:121px!important;}
.w-122px	{width:122px!important;}
.w-123px	{width:123px!important;}
.w-124px	{width:124px!important;}
.w-125px	{width:125px!important;}
.w-126px	{width:126px!important;}
.w-127px	{width:127px!important;}
.w-128px	{width:128px!important;}
.w-129px	{width:129px!important;}
.w-130px	{width:130px!important;}
.w-131px	{width:131px!important;}
.w-132px	{width:132px!important;}
.w-133px	{width:133px!important;}
.w-134px	{width:134px!important;}
.w-135px	{width:135px!important;}
.w-136px	{width:136px!important;}
.w-137px	{width:137px!important;}
.w-138px	{width:138px!important;}
.w-139px	{width:139px!important;}
.w-140px	{width:140px!important;}
.w-141px	{width:141px!important;}
.w-142px	{width:142px!important;}
.w-143px	{width:143px!important;}
.w-144px	{width:144px!important;}
.w-145px	{width:145px!important;}
.w-146px	{width:146px!important;}
.w-147px	{width:147px!important;}
.w-148px	{width:148px!important;}
.w-149px	{width:149px!important;}
.w-150px	{width:150px!important;}
.w-151px	{width:151px!important;}
.w-152px	{width:152px!important;}
.w-153px	{width:153px!important;}
.w-154px	{width:154px!important;}
.w-155px	{width:155px!important;}
.w-156px	{width:156px!important;}
.w-157px	{width:157px!important;}
.w-158px	{width:158px!important;}
.w-159px	{width:159px!important;}
.w-160px	{width:160px!important;}
.w-161px	{width:161px!important;}
.w-162px	{width:162px!important;}
.w-163px	{width:163px!important;}
.w-164px	{width:164px!important;}
.w-165px	{width:165px!important;}
.w-166px	{width:166px!important;}
.w-167px	{width:167px!important;}
.w-168px	{width:168px!important;}
.w-169px	{width:169px!important;}
.w-170px	{width:170px!important;}
.w-171px	{width:171px!important;}
.w-172px	{width:172px!important;}
.w-173px	{width:173px!important;}
.w-174px	{width:174px!important;}
.w-175px	{width:175px!important;}
.w-176px	{width:176px!important;}
.w-177px	{width:177px!important;}
.w-178px	{width:178px!important;}
.w-179px	{width:179px!important;}
.w-180px	{width:180px!important;}
.w-181px	{width:181px!important;}
.w-182px	{width:182px!important;}
.w-183px	{width:183px!important;}
.w-184px	{width:184px!important;}
.w-185px	{width:185px!important;}
.w-186px	{width:186px!important;}
.w-187px	{width:187px!important;}
.w-188px	{width:188px!important;}
.w-189px	{width:189px!important;}
.w-190px	{width:190px!important;}
.w-191px	{width:191px!important;}
.w-192px	{width:192px!important;}
.w-193px	{width:193px!important;}
.w-194px	{width:194px!important;}
.w-195px	{width:195px!important;}
.w-196px	{width:196px!important;}
.w-197px	{width:197px!important;}
.w-198px	{width:198px!important;}
.w-199px	{width:199px!important;}
.w-200px	{width:200px!important;}

.mb-md-2 { margin-bottom: 0px;}
@media screen and (max-width:991px) {
    .mb-md-2 { margin-bottom: 40px;}
}

.flip-list-move {
    transition: transform .5s;
}

.alert {
    background-color: #fcc;
}