/*--
	SVG色
-----------------------------------------------------------------------------------*/


.fill-white{fill:#fff!important;}
.fill-gray-10{fill:#f3f3f3!important;}
.fill-gray-20{fill:#ebebeb!important;}
.fill-gray-30{fill:#E6e6e6!important;}
.fill-gray-40 {fill:#e0e0e0!important;}
.fill-gray-50 {fill:#ccc!important;}
.fill-gray-60 {fill:#a7a7a7!important;}
.fill-gray-70 {fill:#949494!important;}
.fill-gray-80 {fill:#747474!important;}
.fill-gray-90 {fill:#555555!important;}
.fill-gray-100 {fill:#333333!important;}
.fill-black {fill:#000000!important;}

.fill-red {fill:#c00!important;}
.fill-red-vivid {fill:#FA3737!important;}
.fill-red-dark {fill:#AF0808!important;}
.fill-red-pale {fill:#FFF6F6!important;}

.fill-orange {fill:#ff8816!important;}
.fill-orange-pale {fill:#FDE5BF!important;}
.fill-orange-lightglayish {fill:#D7c2a2!important;}

.fill-green {fill:#4CB005!important;}
.fill-green-vivid {fill:#37fa58!important;}
.fill-green-dark {fill: #3f8409!important;}

.fill-blue {fill:#72A7FA!important;}
.fill-blue-dark {fill:#1a0dab!important;}

.fill-pink {fill:#F86593!important;}
.fill-purple {fill:#B577FF!important;}

.fill-blue-chat {fill:#619DE5!important;}
.fill-vioret-chat {fill:#8080D6!important;}
.fill-vioret-chat {fill:#CD87DD!important;}
.fill-pink-chat {fill:#F28B8B!important;}
.fill-orange-chat {fill:#EABB78!important;}

.stroke-white {stroke:#ffffff;fill:none;}
.stroke-gray-10 {stroke:#f3f3f3;fill:none;}
.stroke-gray-20 {stroke:#ebebeb;fill:none;}
.stroke-gray-30 {stroke:#E6e6e6;fill:none;}
.stroke-gray-40 {stroke:#e0e0e0;fill:none;}
.stroke-gray-50 {stroke:#ccc;fill:none;}
.stroke-gray-60 {stroke:#a7a7a7;fill:none;}
.stroke-gray-70 {stroke:#949494;fill:none;}
.stroke-gray-80 {stroke:#747474;fill:none;}
.stroke-gray-90 {stroke:#555555;fill:none;}
.stroke-gray-100 {stroke:#333333;fill:none;}
.stroke-black {stroke:#000000;fill:none;}

.stroke-white-1px {stroke:#ffffff;stroke-width:1px;fill:none;}
.stroke-white-2px {stroke:#ffffff;stroke-width:2px;fill:none;}
.stroke-white-3px {stroke:#ffffff;stroke-width:3px;fill:none;}
.stroke-white-4px {stroke:#ffffff;stroke-width:4px;fill:none;}
.stroke-white-5px {stroke:#ffffff;stroke-width:5px;fill:none;}
.stroke-white-6px {stroke:#ffffff;stroke-width:6px;fill:none;}
.stroke-white-7px {stroke:#ffffff;stroke-width:7px;fill:none;}
.stroke-white-8px {stroke:#ffffff;stroke-width:8px;fill:none;}
.stroke-white-9px {stroke:#ffffff;stroke-width:9px;fill:none;}
.stroke-white-10px {stroke:#ffffff;stroke-width:10px;fill:none;}
.stroke-white-11px	{stroke:#ffffff;stroke-width:11px;fill:none;}
.stroke-white-12px	{stroke:#ffffff;stroke-width:12px;fill:none;}
.stroke-white-13px	{stroke:#ffffff;stroke-width:13px;fill:none;}
.stroke-white-14px	{stroke:#ffffff;stroke-width:14px;fill:none;}
.stroke-white-15px	{stroke:#ffffff;stroke-width:15px;fill:none;}
.stroke-white-16px	{stroke:#ffffff;stroke-width:16px;fill:none;}
.stroke-white-17px	{stroke:#ffffff;stroke-width:17px;fill:none;}
.stroke-white-18px	{stroke:#ffffff;stroke-width:18px;fill:none;}
.stroke-white-19px	{stroke:#ffffff;stroke-width:19px;fill:none;}
.stroke-white-20px	{stroke:#ffffff;stroke-width:20px;fill:none;}
.stroke-white-21px	{stroke:#ffffff;stroke-width:21px;fill:none;}
.stroke-white-22px	{stroke:#ffffff;stroke-width:22px;fill:none;}
.stroke-white-23px	{stroke:#ffffff;stroke-width:23px;fill:none;}
.stroke-white-24px	{stroke:#ffffff;stroke-width:24px;fill:none;}
.stroke-white-25px	{stroke:#ffffff;stroke-width:25px;fill:none;}
.stroke-white-26px	{stroke:#ffffff;stroke-width:26px;fill:none;}
.stroke-white-27px	{stroke:#ffffff;stroke-width:27px;fill:none;}
.stroke-white-28px	{stroke:#ffffff;stroke-width:28px;fill:none;}
.stroke-white-29px	{stroke:#ffffff;stroke-width:29px;fill:none;}
.stroke-white-30px	{stroke:#ffffff;stroke-width:30px;fill:none;}
.stroke-white-31px	{stroke:#ffffff;stroke-width:31px;fill:none;}
.stroke-white-32px	{stroke:#ffffff;stroke-width:32px;fill:none;}
.stroke-white-33px	{stroke:#ffffff;stroke-width:33px;fill:none;}
.stroke-white-34px	{stroke:#ffffff;stroke-width:34px;fill:none;}
.stroke-white-35px	{stroke:#ffffff;stroke-width:35px;fill:none;}
.stroke-white-36px	{stroke:#ffffff;stroke-width:36px;fill:none;}
.stroke-white-37px	{stroke:#ffffff;stroke-width:37px;fill:none;}
.stroke-white-38px	{stroke:#ffffff;stroke-width:38px;fill:none;}
.stroke-white-39px	{stroke:#ffffff;stroke-width:39px;fill:none;}
.stroke-white-40px	{stroke:#ffffff;stroke-width:40px;fill:none;}
.stroke-white-41px	{stroke:#ffffff;stroke-width:41px;fill:none;}
.stroke-white-42px	{stroke:#ffffff;stroke-width:42px;fill:none;}
.stroke-white-43px	{stroke:#ffffff;stroke-width:43px;fill:none;}
.stroke-white-44px	{stroke:#ffffff;stroke-width:44px;fill:none;}
.stroke-white-45px	{stroke:#ffffff;stroke-width:45px;fill:none;}
.stroke-white-46px	{stroke:#ffffff;stroke-width:46px;fill:none;}
.stroke-white-47px	{stroke:#ffffff;stroke-width:47px;fill:none;}
.stroke-white-48px	{stroke:#ffffff;stroke-width:48px;fill:none;}
.stroke-white-49px	{stroke:#ffffff;stroke-width:49px;fill:none;}
.stroke-white-50px	{stroke:#ffffff;stroke-width:50px;fill:none;}

.stroke-gray-90-1px {stroke:#555555;stroke-width:1px;fill:none;}
.stroke-gray-90-2px {stroke:#555555;stroke-width:2px;fill:none;}
.stroke-gray-90-3px {stroke:#555555;stroke-width:3px;fill:none;}
.stroke-gray-90-4px {stroke:#555555;stroke-width:4px;fill:none;}
.stroke-gray-90-5px {stroke:#555555;stroke-width:5px;fill:none;}
.stroke-gray-90-6px {stroke:#555555;stroke-width:6px;fill:none;}
.stroke-gray-90-7px {stroke:#555555;stroke-width:7px;fill:none;}
.stroke-gray-90-8px {stroke:#555555;stroke-width:8px;fill:none;}
.stroke-gray-90-9px {stroke:#555555;stroke-width:9px;fill:none;}
.stroke-gray-90-10px {stroke:#555555;stroke-width:10px;fill:none;}

.stroke-gray-100-1px {stroke:#333333;stroke-width:1px;fill:none;}
.stroke-gray-100-2px {stroke:#333333;stroke-width:2px;fill:none;}
.stroke-gray-100-3px {stroke:#333333;stroke-width:3px;fill:none;}
.stroke-gray-100-4px {stroke:#333333;stroke-width:4px;fill:none;}
.stroke-gray-100-5px {stroke:#333333;stroke-width:5px;fill:none;}
.stroke-gray-100-6px {stroke:#333333;stroke-width:6px;fill:none;}
.stroke-gray-100-7px {stroke:#333333;stroke-width:7px;fill:none;}
.stroke-gray-100-8px {stroke:#333333;stroke-width:8px;fill:none;}
.stroke-gray-100-9px {stroke:#333333;stroke-width:9px;fill:none;}
.stroke-gray-100-10px {stroke:#333333;stroke-width:10px;fill:none;}

.stroke-black-1px {stroke:#000000;stroke-width:1px;fill:none;}
.stroke-black-2px {stroke:#000000;stroke-width:2px;fill:none;}
.stroke-black-3px {stroke:#000000;stroke-width:3px;fill:none;}
.stroke-black-4px {stroke:#000000;stroke-width:4px;fill:none;}
.stroke-black-5px {stroke:#000000;stroke-width:5px;fill:none;}
.stroke-black-6px {stroke:#000000;stroke-width:6px;fill:none;}
.stroke-black-7px {stroke:#000000;stroke-width:7px;fill:none;}
.stroke-black-8px {stroke:#000000;stroke-width:8px;fill:none;}
.stroke-black-9px {stroke:#000000;stroke-width:9px;fill:none;}
.stroke-black-10px {stroke:#000000;stroke-width:10px;fill:none;}

.stroke-pink-1px {stroke:#f28b8b;stroke-width:1px;fill:none;}
.stroke-pink-2px {stroke:#f28b8b;stroke-width:2px;fill:none;}
.stroke-pink-3px {stroke:#f28b8b;stroke-width:3px;fill:none;}
.stroke-pink-4px {stroke:#f28b8b;stroke-width:4px;fill:none;}
.stroke-pink-5px {stroke:#f28b8b;stroke-width:5px;fill:none;}
.stroke-pink-6px {stroke:#f28b8b;stroke-width:6px;fill:none;}
.stroke-pink-7px {stroke:#f28b8b;stroke-width:7px;fill:none;}
.stroke-pink-8px {stroke:#f28b8b;stroke-width:8px;fill:none;}
.stroke-pink-9px {stroke:#f28b8b;stroke-width:9px;fill:none;}
.stroke-pink-10px {stroke:#f28b8b;stroke-width:10px;fill:none;}
.stroke-orange-1px 	{stroke:#ff8816;stroke-width:1px;fill:none;}
.stroke-orange-2px	{stroke:#ff8816;stroke-width:2px;fill:none;}
.stroke-orange-3px	{stroke:#ff8816;stroke-width:3px;fill:none;}
.stroke-orange-4px	{stroke:#ff8816;stroke-width:4px;fill:none;}
.stroke-orange-5px	{stroke:#ff8816;stroke-width:5px;fill:none;}
.stroke-orange-6px	{stroke:#ff8816;stroke-width:6px;fill:none;}
.stroke-orange-7px	{stroke:#ff8816;stroke-width:7px;fill:none;}
.stroke-orange-8px	{stroke:#ff8816;stroke-width:8px;fill:none;}
.stroke-orange-9px	{stroke:#ff8816;stroke-width:9px;fill:none;}
.stroke-orange-10px	{stroke:#ff8816;stroke-width:10px;fill:none;}
.stroke-orange-11px	{stroke:#ff8816;stroke-width:11px;fill:none;}
.stroke-orange-12px	{stroke:#ff8816;stroke-width:12px;fill:none;}
.stroke-orange-13px	{stroke:#ff8816;stroke-width:13px;fill:none;}
.stroke-orange-14px	{stroke:#ff8816;stroke-width:14px;fill:none;}
.stroke-orange-15px	{stroke:#ff8816;stroke-width:15px;fill:none;}
.stroke-orange-16px	{stroke:#ff8816;stroke-width:16px;fill:none;}
.stroke-orange-17px	{stroke:#ff8816;stroke-width:17px;fill:none;}
.stroke-orange-18px	{stroke:#ff8816;stroke-width:18px;fill:none;}
.stroke-orange-19px	{stroke:#ff8816;stroke-width:19px;fill:none;}
.stroke-orange-20px	{stroke:#ff8816;stroke-width:20px;fill:none;}
.stroke-orange-21px	{stroke:#ff8816;stroke-width:21px;fill:none;}
.stroke-orange-22px	{stroke:#ff8816;stroke-width:22px;fill:none;}
.stroke-orange-23px	{stroke:#ff8816;stroke-width:23px;fill:none;}
.stroke-orange-24px	{stroke:#ff8816;stroke-width:24px;fill:none;}
.stroke-orange-25px	{stroke:#ff8816;stroke-width:25px;fill:none;}
.stroke-orange-26px	{stroke:#ff8816;stroke-width:26px;fill:none;}
.stroke-orange-27px	{stroke:#ff8816;stroke-width:27px;fill:none;}
.stroke-orange-28px	{stroke:#ff8816;stroke-width:28px;fill:none;}
.stroke-orange-29px	{stroke:#ff8816;stroke-width:29px;fill:none;}
.stroke-orange-30px	{stroke:#ff8816;stroke-width:30px;fill:none;}
.stroke-orange-31px	{stroke:#ff8816;stroke-width:31px;fill:none;}
.stroke-orange-32px	{stroke:#ff8816;stroke-width:32px;fill:none;}
.stroke-orange-33px	{stroke:#ff8816;stroke-width:33px;fill:none;}
.stroke-orange-34px	{stroke:#ff8816;stroke-width:34px;fill:none;}
.stroke-orange-35px	{stroke:#ff8816;stroke-width:35px;fill:none;}
.stroke-orange-36px	{stroke:#ff8816;stroke-width:36px;fill:none;}
.stroke-orange-37px	{stroke:#ff8816;stroke-width:37px;fill:none;}
.stroke-orange-38px	{stroke:#ff8816;stroke-width:38px;fill:none;}
.stroke-orange-39px	{stroke:#ff8816;stroke-width:39px;fill:none;}
.stroke-orange-40px	{stroke:#ff8816;stroke-width:40px;fill:none;}
.stroke-orange-41px	{stroke:#ff8816;stroke-width:41px;fill:none;}
.stroke-orange-42px	{stroke:#ff8816;stroke-width:42px;fill:none;}
.stroke-orange-43px	{stroke:#ff8816;stroke-width:43px;fill:none;}
.stroke-orange-44px	{stroke:#ff8816;stroke-width:44px;fill:none;}
.stroke-orange-45px	{stroke:#ff8816;stroke-width:45px;fill:none;}
.stroke-orange-46px	{stroke:#ff8816;stroke-width:46px;fill:none;}
.stroke-orange-47px	{stroke:#ff8816;stroke-width:47px;fill:none;}
.stroke-orange-48px	{stroke:#ff8816;stroke-width:48px;fill:none;}
.stroke-orange-49px	{stroke:#ff8816;stroke-width:49px;fill:none;}
.stroke-orange-50px	{stroke:#ff8816;stroke-width:50px;fill:none;}

.stroke-width-1px {stroke-width:1px;fill:none;}
.stroke-width-2px {stroke-width:2px;fill:none;}
.stroke-width-3px {stroke-width:3px;fill:none;}
.stroke-width-4px {stroke-width:4px;fill:none;}
.stroke-width-5px {stroke-width:5px;fill:none;}
.stroke-width-6px {stroke-width:6px;fill:none;}
.stroke-width-7px {stroke-width:7px;fill:none;}
.stroke-width-8px {stroke-width:8px;fill:none;}
.stroke-width-9px {stroke-width:9px;fill:none;}
.stroke-width-10px {stroke-width:10px;fill:none;}